$c: 'Cinzel', serif ;
$h : 'Hahmlet', serif;
$w : white;
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Dancing+Script:wght@600&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Dancing+Script:wght@600&display=swap');


.container-fluid{
    margin: 0px;
    padding: 0px;
}

.co-top{
    background: url('../images/gbb.jpg');
    background-size:cover;
    background-position: center;
    height:100%;
    width: 100%; 
}


.co-ovel{
    // background-color: rgba(0, 0, 0, 0.6);
     width: 96%;
      margin-left: 2% !important;
    //  border: 2px solid goldenrod;
      border-radius: 10px;
      margin-top: 15%;
}

.co-th5{
    font-family: 'Lobster', cursive;
    font-weight: bold;
    font-size: 30px;
    margin-left: 4%;
    color: goldenrod;
    margin-top: 10%;
    text-decoration: overline;
    text-shadow: 1px  0px rgba(rgb(46, 22, 22), 0.6);
}

.co-card{
    width: 100%;
    
    border-radius: 10px;
    border: 2px solid goldenrod;
    background-color: rgba(rgb(0, 0, 0), 0.9);
    height: fit-content;
    overflow-y: hidden !important;
}

.co-card2{
    width: 100%;
   
    border-radius: 10px;
    border: 2px solid goldenrod;
    background-color: rgba(rgb(0, 0, 0), 0.9);
    height: fit-content;
    overflow-y: hidden !important;
}


.co-btx{
    font-family: $c;
    font-size: 24px;
    color: $w;
    font-weight: bolder;
    text-shadow: 2px  0px rgba(rgb(206, 138, 14), 0.6);
}

.co-loc{
    background-color: black;
    color: white;
    font-family: $c;
    font-size: 19px;
    width: 87%;
    font-weight: bolder;
    border: 2px solid white;
    height: 50px;
    border-radius: 10px;

    &:focus{
        outline: none;
    }
}

.co-nws{
    font-family: $c;
    font-family: $c;
    font-size: 16px;
    color: $w;
   // text-shadow: 2px  0px rgba(rgb(206, 138, 14), 0.6);
}

.co-tick{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid goldenrod;
}

.co-yo{
    font-family: $c;
    font-size: 24px;
    color: $w;
    font-weight: bolder;
    text-shadow: 2px  0px rgba(rgb(206, 138, 14), 0.6);
}

.co-dco{
    margin-top: 4%;
    font-family: $c;
    font-size: 17px;
    color: $w;
    font-weight: bolder;
}

.co-po{
    padding: 3px;
    margin-top: 4%;
    font-family: $c;
    font-size: 17px;
    color: $w;
    font-weight: bolder;

}

.co-pob{
    margin-top: 5%;
    border: 2px solid black;
    font-family: $c;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 4%;
    transition: 0.8s;
    background: linear-gradient(white,gray);  

    &:hover{
        background: linear-gradient(grey,black);  
        font-family: $c;
        color: white;
        font-size: 23px;
        font-weight: bold;
        transition: 0.8s;
    }
    }

    .co-pomb{
        margin-top: 5%;
        border: 2px solid black;
        font-family: $c;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 4%;
        transition: 0.8s;
        background: linear-gradient(white,gray);  
    
        &:hover{
            background: linear-gradient(grey,black);  
            font-family: $c;
            color: white;
            font-size: 23px;
            font-weight: bold;
            transition: 0.8s;
        }
        }

    .c-yot{
        font-family: $c;
        font-size: 19px;
        color: $w;
        font-weight: bolder;
        text-shadow: 2px  0px rgba(rgb(206, 138, 14), 0.6);
    }

    .ch-mdf{
      background-color: rgba(0, 0, 0, 0.6) !important;
      margin-top: 1%;
        
    }

    .ch-mdd{
        margin-top: 7%;
        background-color: rgba(0, 0, 0, 0.9);
        border: 2px solid goldenrod;
        border-radius: 10px;
        width: 70%;
      }

      .ch-ripple {
        display: inline-block;
        position: absolute;
        left: 48%;
        top: 45%;
        width: 80px;
        height: 80px;
      }
      .ch-ripple div {
        position: absolute;
        border: 4px solid goldenrod;
        opacity: 1;
        border-radius: 50%;
        animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
      }
      .ch-ripple div:nth-child(2) {
        animation-delay: -0.5s;
      }
      @keyframes lds-ripple {
        0% {
          top: 36px;
          left: 36px;
          width: 0;
          height: 0;
          opacity: 1;
        }
        100% {
          top: 0px;
          left: 0px;
          width: 72px;
          height: 72px;
          opacity: 0;
        }
      }

      .chm-ripple {
        display: inline-block;
        position: absolute;
        left: 43%;
        top: 43%;
        width: 80px;
        height: 80px;
      }
      .chm-ripple div {
        position: absolute;
        border: 4px solid goldenrod;
        opacity: 1;
        border-radius: 50%;
        animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
      }
      .chm-ripple div:nth-child(2) {
        animation-delay: -0.5s;
      }
      @keyframes lds-ripple {
        0% {
          top: 36px;
          left: 36px;
          width: 0;
          height: 0;
          opacity: 1;
        }
        100% {
          top: 0px;
          left: 0px;
          width: 72px;
          height: 72px;
          opacity: 0;
        }
      }


      .ch-msg{
        background-color: rgba(0, 0, 0, 0.9);
         width: 100%;
         position: absolute;
         top: 3%;
         height: 90%;
         
    
          .rsv-txt{
              position: absolute;
              top: 21%;
            border: 2px solid goldenrod;
            border-radius: 10px;
             margin-left: 5%;
             width: 90%;
             height: 80%;
             background-image: url('../images/dag.jpg');
          }
        
          .rs-txt{
              text-align: center;
            font-size: 19px;
            text-shadow: 1px  0px rgba(rgb(206, 138, 14), 0.6);
            color: $w;
          font-family: $c;
          }

          .rs-txt1{
            text-align: center;
          font-size: 26px !important;
          text-shadow: 1px  0px rgba(rgb(206, 138, 14), 0.6);
          color: $w;
        font-family: $c;
        }
    
    
         .rs-tbb{
            justify-content: center;
            display: flex;
            align-items: center;
            .rsv-tbt{
                
               margin-top: 2%;
               border: 2px solid black;
               font-family: $c;
               font-size: 18px;
               font-weight: bold;
               margin-bottom: 4%;
               transition: 0.8s;
               background: linear-gradient(white,gray);  
           
               &:hover{
                   background: linear-gradient(grey,black);  
                   font-family: $c;
                   color: white;
                   font-size: 18px;
                   font-weight: bold;
                   transition: 0.8s;
               } 
             }
         }
    }
    